{
	"printWidth": 130,
	"semi": true,
	"useTabs": true,
	"tabWidth": 2,
	"singleQuote": false,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	]
}
