---
import type { InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { slugify } from "../../lib/utils";

export async function getStaticPaths() {
	const postEntries = await getCollection("posts");
	return postEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();
---

<BaseLayout>
	<article class="mx-auto flex max-w-3xl flex-col gap-10 border border-red-300">
		<header class="flex flex-col gap-4">
			<h1 class="text-4xl font-bold text-zinc-950" transition:name={slugify(entry.data.title)}>{entry.data.title}</h1>
			<small class="text-zinc-700">
				{remarkPluginFrontmatter.minutesRead} · {
					entry.data.datetime.toLocaleString("en-us", { year: "numeric", month: "short", day: "numeric" })
				}
			</small>
		</header>
		<div class="prose border border-blue-300">
			<Content />
		</div>
		<footer>
			<div>{entry.data.tags.map((tag) => <small>{tag}</small>)}</div>
		</footer>
	</article>
</BaseLayout>
