---
import type { InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { slugify } from "../../lib/utils";

export async function getStaticPaths() {
	const postEntries = await getCollection("posts");
	return postEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();
---

<BaseLayout>
	<!-- <h1 transition:name={"Guide To Sorting In Go".split(" ").join("")} class="mb-20 ml-96 text-7xl">
		Guide to Sorting IN Go
	</h1> -->
	<article class="mx-auto max-w-3xl border border-red-300">
		<header class="flex flex-col">
			<h1 class="text-3xl font-bold" transition:name={slugify(entry.data.title)}>{entry.data.title}</h1>
			<p class="">
				{remarkPluginFrontmatter.minutesRead} · {
					entry.data.datetime.toLocaleString("en-us", { year: "numeric", month: "short", day: "numeric" })
				}
			</p>
		</header>
		<div class="prose border border-blue-300">
			<Content />
		</div>
	</article>
</BaseLayout>
