---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import WelcomeMessage from "../components/WelcomeMessage.astro";
import StylishHeading from "../components/StylishHeading.astro";
import PostsList from "../components/PostsList.astro";

const postEntries = (await getCollection("posts"))
	.sort((a, b) => b.data.datetime.getTime() - a.data.datetime.getTime())
	.slice(0, 10);
---

<BaseLayout>
	<div class="mx-auto flex max-w-3xl flex-col gap-40">
		<section class="relative">
			<StylishHeading tag="h2" text="Hello" />
			<WelcomeMessage />
		</section>

		<section class="relative flex flex-col gap-8">
			<StylishHeading tag="h2" text="Blog" />
			<p>Here are some of my recent blog posts:</p>
			<PostsList entries={postEntries} />
			<a href="/posts" class="text-right">View all posts</a>
		</section>
	</div>
</BaseLayout>
