---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import WelcomeMessage from "../components/WelcomeMessage.astro";
import PostList from "../components/PostList.astro";
import SectionWrapper from "../components/SectionWrapper.astro";

const postEntries = (await getCollection("posts"))
	.sort((a, b) => b.data.datetime.getTime() - a.data.datetime.getTime())
	.slice(0, 10);
---

<BaseLayout>
	<div class="mx-auto flex max-w-3xl flex-col gap-40">
		<SectionWrapper headingText="Hello">
			<WelcomeMessage />
		</SectionWrapper>

		<SectionWrapper headingText="Blog">
			<div class="flex flex-col gap-6">
				<p>Here are some of my recent blog posts:</p>
				<PostList entries={postEntries} showYear />
				<a href="/posts" class="text-right">View all posts</a>
			</div>
		</SectionWrapper>
	</div>
</BaseLayout>
