---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Content as WelcomeMessage } from "../content/misc/welcome-message.md";
---

<BaseLayout>
	<main>
		<div>
			<WelcomeMessage />
		</div>
	</main>
</BaseLayout>
