---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<h1>Welcome ~</h1>
	<p>
		Welcome to my virtual sanctuary, a space where I share my musings on the world of software development, specifically
		delving into JavaScript, TypeScript, and web technologies. If my content resonates with you, consider subscribing to
		my
		<a href="https://vitaneri.com/rss.xml" target="_blank" rel="noreferrer">RSS feed</a>
		 to stay updated. And if you're feeling generous, you can also show your support by
		<a href="https://www.buymeacoffee.com/tvince" target="_blank" rel="noreferrer">treating me to a coffee.</a> Thank
		you for stopping by and being a part of my online journey!
	</p>
</BaseLayout>
