---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";
import StrokedText from "../components/StrokedText.astro";

const postEntries = (await getCollection("posts")).sort(
	(a, b) => b.data.datetime.getTime() - a.data.datetime.getTime(),
);

const postsGroupedByYear = new Map<number, typeof postEntries>();

for (const entry of postEntries) {
	const year = entry.data.datetime.getFullYear();

	if (!postsGroupedByYear.has(year)) {
		postsGroupedByYear.set(year, [entry]);
		continue;
	}

	postsGroupedByYear.get(year)!.push(entry);
}
---

<BaseLayout>
	<div class="mx-auto mt-20 max-w-3xl">
		<div class="flex flex-col gap-40">
			{
				Array.from(postsGroupedByYear).map(([year, entries]) => (
					<div class="relative">
						<StrokedText tag="h2" text={year} />
						<ul class="flex flex-col gap-6">
							{entries.map((entry) => (
								<li>
									<a href={`/posts/${entry.slug}`}>
										<PostCard data={entry.data} />
									</a>
								</li>
							))}
						</ul>
					</div>
				))
			}
		</div>
	</div>
</BaseLayout>
