---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const projectEntries = await getCollection("projects");
---

<BaseLayout>
	{projectEntries.map((entry) => <div>{entry.data.title}</div>)}
</BaseLayout>
