---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import SectionWrapper from "../components/SectionWrapper.astro";
import ProjectList from "../components/ProjectList.astro";

const projectEntries = await getCollection("projects");
const featuredProjectEntries = projectEntries.filter((entry) => entry.data.featured);
const notFeaturedProjectEntries = projectEntries.filter((entry) => !entry.data.featured);
---

<BaseLayout title="Projects" description="List of my side projects.">
	<div class="mx-auto mt-20 flex max-w-2xl flex-col gap-60">
		<SectionWrapper headingText="Featured">
			<ProjectList projectEntries={featuredProjectEntries} />
		</SectionWrapper>
		<SectionWrapper headingText="More">
			<ProjectList projectEntries={notFeaturedProjectEntries} />
		</SectionWrapper>
	</div>
</BaseLayout>
