---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const postEntries = (await getCollection("posts")).sort(
	(a, b) => b.data.datetime.getTime() - a.data.datetime.getTime(),
);

const tagSet = new Set<string>();

postEntries.forEach((entry) => {
	entry.data.tags.forEach((tag) => {
		tagSet.add(tag);
	});
});

// WIP
---

<BaseLayout>
	<div class="mx-auto flex max-w-3xl flex-col gap-40">Available tags:</div>
</BaseLayout>
