---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const tilEntries = (await getCollection("tils")).sort((a, b) => parseInt(b.slug) - parseInt(a.slug));
---

<BaseLayout>
	{
		tilEntries.map(async (entry) => {
			const id = parseInt(entry.slug).toString();
			const { Content } = await entry.render();

			return (
				<div>
					<h2 id={id}>
						<a href={`#${id}`}>#{id}</a>
					</h2>
					<Content />
				</div>
			);
		})
	}
</BaseLayout>
