---
import type { CollectionEntry } from "astro:content";

type Props = {
	entries: CollectionEntry<"posts">[];
	showYear?: boolean;
};

const { entries, showYear = false } = Astro.props;
---

<ul class="flex flex-col gap-4">
	{
		entries.map((entry) => {
			const displayDate =
				(showYear ? entry.data.datetime.getFullYear() + " " : "") +
				entry.data.datetime.toLocaleDateString("en-us", { month: "short", day: "2-digit" });

			return (
				<a href={`/posts/${entry.slug}`} rel="prefetch-intent">
					<li class="text-zinc-600 transition-colors">
						<div class="flex items-start gap-4 hover:text-zinc-950">
							<span class="min-w-[100px]" transition:name={"date" + entry.slug}>
								{displayDate}
							</span>
							<p transition:name={entry.slug}>{entry.data.title}</p>
						</div>
					</li>
				</a>
			);
		})
	}
</ul>
