---
import type { Post } from "../utils/schemas";

type Props = { data: Post };

const { data } = Astro.props;

const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dev"];
const displayDate = months[data.datetime.getMonth()] + " " + data.datetime.getDate();
---

<article class="group relative">
	<div class="flex items-center gap-10">
		<p class="min-w-[80px]">{displayDate}</p>
		<p>{data.title}</p>
	</div>
</article>
