---
import type { CollectionEntry } from "astro:content";

type Props = {
	entries: CollectionEntry<"posts">[];
};

const { entries } = Astro.props;
---

<ul class="group flex flex-col gap-6">
	{
		entries.map((entry) => {
			const displayDate = entry.data.datetime.toLocaleDateString("en-us", { month: "short", day: "2-digit" });
			return (
				<a href={`/posts/${entry.slug}`}>
					<li class="text-zinc-600 transition-colors group-hover:text-zinc-500">
						<div class="flex items-center gap-0 hover:text-zinc-950 md:gap-10">
							<span class="min-w-[80px]">{displayDate}</span>
							<p>{entry.data.title}</p>
						</div>
					</li>
				</a>
			);
		})
	}
</ul>
