---
import type { CollectionEntry } from "astro:content";
import { twJoin } from "../lib/tw-join";

type Props = {
	entries: Array<CollectionEntry<"posts">>;
	showYear?: boolean;
};

const { entries, showYear = false } = Astro.props;
---

<ul class="group flex flex-col gap-3">
	{
		entries.map((entry) => {
			const displayDate =
				(showYear ? entry.data.datetime.getFullYear() + " " : "") +
				entry.data.datetime.toLocaleDateString("en-us", { month: "short", day: "2-digit" });

			return (
				<li class="text-zinc-700 transition-colors group-hover:text-zinc-400 dark:text-zinc-300 group-hover:dark:text-zinc-500">
					<a href={`/posts/${entry.slug}`} rel="prefetch-intent">
						<div class="flex items-start gap-4 transition-colors hover:text-zinc-950 dark:hover:text-white">
							<span class={twJoin("min-w-[100px]", !showYear && "min-w-[60px]")}>{displayDate}</span>
							<p transition:name={entry.slug}>{entry.data.title}</p>
						</div>
					</a>
				</li>
			);
		})
	}
</ul>
