<div
	class="prose prose-gray max-w-none dark:prose-invert prose-a:decoration-gray-300 prose-a:underline-offset-4 prose-a:transition-colors hover:prose-a:decoration-gray-700 dark:prose-a:decoration-gray-600 dark:hover:prose-a:decoration-gray-200"
>
	<slot />
</div>
