---
const navLinks = [
	{
		displayText: "Posts",
		url: "/posts",
	},
	{
		displayText: "Tags",
		url: "/tags",
	},
	{
		displayText: "TILs",
		url: "/tils",
	},
	{
		displayText: "Projects",
		url: "/projects",
	},
	{
		displayText: "About",
		url: "/about",
	},
];
---

<header class="flex justify-between">
	<!-- Skip To Content -->
	<!-- Normally hidden, useful for screen reader or keyboard user -->
	<a
		id="skip-to-content"
		href="#main-content"
		class="top absolute -top-full left-16 z-50 bg-overlay p-2 text-text transition-all focus:top-4 focus:ring"
	>
		Skip to content
	</a>

	<div id="site-logo">
		<a href="/">
			<span class="select-none bg-gradient-to-b from-text to-accent bg-clip-text font-heading text-3xl font-bold text-transparent hover:animate-mesh-background">Vitaneri</span>
		</a>
	</div>

	<nav class="flex gap-4">
		{navLinks.map((navLink) => <a href={navLink.url}>{navLink.displayText}</a>)}
	</nav>
</header>
