---
import Logo from "./Logo";
import ThemeToggler from "./ThemeToggle";
import { twJoin } from "../lib/tw-join";

const navLinks = [
	{
		displayText: "Posts",
		url: "/posts",
	},
	{
		displayText: "Tags",
		url: "/tags",
	},
	{
		displayText: "TILs",
		url: "/tils",
	},
	{
		displayText: "Projects",
		url: "/projects",
	},
];

const activePath = Astro.url.pathname.split("/")[1];
---

<header>
	<!-- Skip To Content -->
	<!-- Normally hidden, useful for screen reader or keyboard user -->
	<a
		id="skip-to-content"
		href="#main-content"
		class="top absolute -top-full left-16 z-50 bg-zinc-100 p-2 drop-shadow-md transition-all focus:top-4 dark:bg-zinc-950"
	>
		Skip to content
	</a>

	<div class="mx-auto flex max-w-2xl items-center justify-between py-8">
		<div id="site-logo">
			<a href="/" rel="prefetch" aria-label="Vitaneri logo">
				<Logo />
				<span class="font-logo text-5xl">Vi</span>
			</a>
		</div>

		<div class="flex items-center gap-8">
			<nav class="hidden items-center gap-6 md:flex">
				{
					navLinks.map((navLink) => {
						const isActive = "/" + activePath === navLink.url;

						return (
							<div class="relative">
								<a
									href={navLink.url}
									class={twJoin(
										"text-sm transition-colors md:text-base",
										isActive
											? "text-zinc-900 dark:text-zinc-100"
											: "text-zinc-500 hover:text-zinc-900 dark:text-zinc-400 dark:hover:text-zinc-100",
									)}
									rel="prefetch"
								>
									{navLink.displayText}
								</a>
								{isActive && (
									<div
										id="active-nav"
										class="absolute h-0.5 w-full bg-zinc-200 transition-colors duration-200 dark:bg-zinc-700"
										aria-hidden="true"
										transition:name="active-nav-marker"
									/>
								)}
							</div>
						);
					})
				}
			</nav>

			<ThemeToggler client:idle />
		</div>
	</div>
</header>
