---
import { twJoin } from "../lib/tw-join";

const navLinks = [
	{
		displayText: "Posts",
		url: "/posts",
	},
	{
		displayText: "Tags",
		url: "/tags",
	},
	{
		displayText: "TILs",
		url: "/tils",
	},
	{
		displayText: "Projects",
		url: "/projects",
	},
	{
		displayText: "About",
		url: "/about",
	},
];

const activePath = Astro.url.pathname.split("/")[1];
---

<header>
	<!-- Skip To Content -->
	<!-- Normally hidden, useful for screen reader or keyboard user -->
	<a
		id="skip-to-content"
		href="#main-content"
		class="top absolute -top-full left-16 z-50 bg-zinc-200 p-2 drop-shadow-md transition-all focus:top-4"
	>
		Skip to content
	</a>

	<div class="mx-auto flex max-w-3xl items-center justify-between py-8">
		<div id="site-logo">
			<a href="/">
				<span class="inline-block select-none">Vitaneri</span>
			</a>
		</div>

		<nav class="hidden items-center gap-6 md:flex">
			{
				navLinks.map((navLink) => {
					const isActive = "/" + activePath === navLink.url;

					return (
						<div class="relative">
							<a
								href={navLink.url}
								class={twJoin("text-sm md:text-base", isActive ? "text-zinc-950" : "text-zinc-500 hover:text-zinc-950")}
							>
								{navLink.displayText}
							</a>
							{isActive && (
								<div
									id="active-nav"
									class="absolute h-0.5 w-full bg-zinc-200"
									aria-hidden="true"
									transition:animate="morph"
								/>
							)}
						</div>
					);
				})
			}
		</nav>
	</div>
</header>
 ../lib/tw-join
