---
import type { InferGetStaticPropsType } from "astro";
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ProseWrapper from "../../components/ProseWrapper.astro";

export async function getStaticPaths() {
  const bitEntries = await getCollection("bits");
  return bitEntries.map((entry) => ({
    params: { slug: parseInt(entry.slug).toString() },
    props: { entry },
  }));
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry } = Astro.props;
const { Content } = await entry.render();
const bitID = parseInt(entry.slug).toString();
---

<BaseLayout title={`Bit #${bitID}`} description={`Bit entry number ${bitID}.`}>
  <article class="mx-auto flex max-w-2xl flex-col gap-14" data-pagefind-body>
    <header>
      <h1 class="text-5xl font-bold text-zinc-900 transition-colors dark:text-white">
        Bit #{bitID}
      </h1>
    </header>
    <ProseWrapper>
      <Content />
    </ProseWrapper>
  </article>
</BaseLayout>
