@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-stroke: theme(colors.gray.100);
	--color-scrollbar: theme(colors.gray.300);
	--color-scrollbar-hover: theme(colors.gray.600);
}

.dark {
	--color-stroke: theme(colors.gray.800);
	--color-scrollbar: theme(colors.gray.700);
	--color-scrollbar-hover: theme(colors.gray.400);
}

@layer base {
	* {
		@apply focus:outline-gray-700 dark:focus:outline-gray-300;
	}

	/* ===== scrollbar ===== */
	/* Always show scrollbar */
	html {
		@apply h-[101%];
	}

	::-webkit-scrollbar {
		@apply h-1 w-1;
	}

	::-webkit-scrollbar-track {
		@apply bg-transparent;
	}

	::-webkit-scrollbar-thumb {
		@apply rounded-full bg-[--color-scrollbar];
	}

	::-webkit-scrollbar-thumb:hover {
		@apply bg-[--color-scrollbar-hover];
	}
}
