@font-face {
	font-family: "Vitaneri";
	font-display: "swap";
	font-style: "normal";
	font-weight: 400;
	src:
		url("/fonts/vitaneri-logo.woff2") format("woff2"),
		url("/fonts/vitaneri-logo.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-stroke: theme(colors.zinc.100);
}

.dark {
	--color-stroke: theme(colors.zinc.800);
}

@layer base {
	* {
		@apply focus:outline-zinc-700 dark:focus:outline-zinc-300;
	}
}
