---
import "../base.css";
import "@fontsource/atkinson-hyperlegible/400.css";
import "@fontsource/atkinson-hyperlegible/700.css";
import "@fontsource/atkinson-hyperlegible/400-italic.css";
import "@fontsource/atkinson-hyperlegible/700-italic.css";

import ViewTransitions from "astro/components/ViewTransitions.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
---

<html lang="en" class="">
	<head>
		<meta charset="utf-8" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Vitaneri</title>

		<ViewTransitions />
	</head>
	<body class="flex min-h-screen flex-col gap-20 overflow-y-scroll bg-white text-zinc-700 antialiased">
		<SiteHeader />

		<main id="main-content" class="overflow-x-clip px-8 md:px-0">
			<slot />
		</main>

		<SiteFooter />
	</body>
</html>
