---
import "../base.css";

import SiteHeader from "../components/SiteHeader.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<title>Vitaneri</title>
	</head>
	<body class="antialiased selection:bg-zinc-300">
		<SiteHeader />
		<main id="main-content">
			<slot />
		</main>
	</body>
</html>
